.product {
	box-shadow: var(--lightShadow);
	transition: var(--mainTransition);
}

.product:hover {
	box-shadow: var(--darkShadow);
}

.priceTop {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(115, 0, 224, 0.8);
	color: var(--mainWhite);
	padding: 0.3rem 0.6rem 0.5rem;
	border-bottom-right-radius: 1rem;
	font-size: 0.5rem;
	text-align: center;
	transition: var(--mainTransition);
}

.priceTop h6 {
	margin-bottom: 0;
	font-size: 0.9rem;
	font-weight: 300;
	letter-spacing: var(--mainSpacing);
}

.btnPrimary {
	display: inline-block;
	text-decoration: none;
	letter-spacing: var(--mainSpacing);
	color: var(--mainBlack);
	background: var(--primaryColor);
	padding: 0.4rem 0.9rem;
	border: 3px solid var(--primaryColor);
	transition: var(--mainTransition);
	text-transform: uppercase;
	cursor: pointer;
}

.btnPrimary:hover {
	background: transparent;
	color: var(--primaryColor);
}

.productLink {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(0);
	transition: all 0.3s linear;
}

.productInfo {
	background: var(--darkGrey);
	text-transform: capitalize;
	padding: 0.5rem 0;
	text-align: center;
	font-weight: 700;
	letter-spacing: var(--mainSpacing);
}

.imgContainer {
	position: relative;
}

.imgContainer img {
	width: 100%;
	display: block;
	transition: var(--mainTransition);
}

.imgContainer:hover {
	background: rgba(0, 0, 0, 0.8);
}

.imgContainer:hover img {
	opacity: 0.3;
}

.imgContainer:hover .price-top {
	opacity: 0;
}

.imgContainer:hover .productLink {
	transform: translate(-50%, -50%) scale(1);
}
